/* Table Styles */
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: var(--dark-purple);
    color: var(--pale-dogwood);
    cursor: pointer; /* Change cursor to pointer for clickable headers */
}

.table tr:nth-child(even) {
    background-color: var(--eggplant);
}

.table tr:hover {
    background-color: var(--redwood);
    color: var(--pale-dogwood);
}

/* Pagination Styles */
.pagination {
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: var(--raisin-black);
    padding: 10px 15px;
    border: 1px solid var(--raisin-black);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: var(--redwood);
    color: var(--pale-dogwood);
}

.page-item.active .page-link {
    background-color: var(--dark-purple);
    color: var(--pale-dogwood);
    border: 1px solid var(--dark-purple);
}

/* Form Styles */
.form-control {
    border-radius: 5px;
    border: 1px solid var(--raisin-black);
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: var(--dark-purple);
    box-shadow: 0 0 5px rgba(55, 37, 73, 0.5);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 1rem; /* Adjust spacing as needed */
}

.btn-primary {
    background-color: var(--dark-purple);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--redwood);
}

/* Icon Styles */
.icon-green {
    color: green;
}

.icon-yellow {
    color: #FFC107; /* A softer yellow that fits better */
}

.icon-red {
    color: red;
}

.icon-green, .icon-yellow, .icon-red {
    margin-right: 5px; /* Space between icon and text */
}